<div class="appreciate">
  <button type="button" class="appreciate-btn" title="打赏给我">
    <img src="{{ 'assets/images/icon/ui/appreciate.svg' | relative_url }}" alt="appreciate">
  </button>

  <div class="flyout flyout--drop">
    <p class="flyout__title">感谢支持！您的打赏是我继续创作的动力！</p>
    <div class="flyout__group">
      <figure>
        <img class="flyout__media" data-src="{{ '/assets/images/site/donate/wechat.png' | relative_url }}" alt="wechat pay" fetchpriority="low" />
        <figcaption class="flyout__caption">微信支付</figcaption>
      </figure>
      <figure>
        <img class="flyout__media" data-src="{{ '/assets/images/site/donate/alipay.jpg' | relative_url }}" alt="alipay" fetchpriority="low" />
        <figcaption class="flyout__caption">支付宝</figcaption>
      </figure>
    </div>
  </div>
</div>
