{%- if site.search -%}
  <div class="search search--dark">
    <div class="search__inner">
      <div class="search__header">
        <span data-i18n="SEARCH">{{- _t.SEARCH -}}</span>
        <button type="button" class="button button--theme-dark button--pill search__cancel js-search-toggle" data-i18n="CANCEL">
          {{- _t.CANCEL -}}
        </button>
      </div>
      <div id="pagefind-search">
        <div id="pagefind-search-input">
          <input
            type="search"
            class="pagefind-ui__search-input"
            placeholder="{{ _t.SEARCH_PLACEHOLDER }}"
            autocomplete="off"
            enterkeyhint="search"
            aria-label="{{ _t.SEARCH }}"
            data-i18n-placeholder="SEARCH_PLACEHOLDER"
            data-i18n-aria="SEARCH"
          />
        </div>
        <div id="pagefind-search-summary"></div>
        <div id="pagefind-search-results"></div>
      </div>
    </div>
  </div>
{%- endif -%}
