*~
~*
*.diff
*.patch
*.bak
.DS_Store
*.swp
*.swo
*.log
*.log.*

/.vscode/

node_modules/
.sass-cache/

/.bundle/
/vendor/bundle
*.gem

yarn.lock
package-lock.json
Gemfile.lock
module_use.md

_site/
_drifts/
.jekyll-metadata
.jekyll-cache/

.editorconfig
.eslintrc
.prettierrc
.stylelintignore
.stylelintrc
.travis.yml
