# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.
#
# ,--------.      ,--.   ,--. ,--.
# '--.  .--',---.  \  `.'  /,-'  '-.
#    |  |  | .-. :  .'    \ '-.  .-'
#    |  |  \   --. /  .'.  \  |  |
#    `--'   `----''--'   '--' `--'




## => Site Settings
##############################
text_skin: default # "default" (default), "dark", "forest", "ocean", "chocolate", "orange"
highlight_theme: tomorrow-night-bright # "default" (default), "tomorrow", "tomorrow-night", "tomorrow-night-eighties", "tomorrow-night-blue", "tomorrow-night-bright"
url     : https://wenxin195.github.io # the base hostname & protocol for your site e.g. https://www.someone.com
baseurl : # does not include hostname
Encoding: utf-8
title   : StatSphere
description: > # this means to ignore newlines until "Language & timezone"
  走进数据世界，领略数学风采


## => Language and Timezone
##############################
lang: zh-CN # the language of your site, default as "en"
timezone: Asia/Shanghai # see https://en.wikipedia.org/wiki/List_of_tz_database_time_zones for the available values


## => Author and Social
##############################
author:
  type      : person # "person" (default), "organization"
  name      : Wenxin Zhong
  url       : https://wenxin195.github.io
  avatar    : assets/images/avatar/avatar.jpg # path or url of avatar image (square)
  bio       : Anything But Ordinary
  email     : zzjj921@126.com
  facebook  : 61569485184749 # "user_name" the last part of your profile url, e.g. https://www.facebook.com/user_name
  twitter   : # "user_name" the last part of your profile url, e.g. https://twitter.com/user_name
  weibo     : 2943658367 # "user_id"   the last part of your profile url, e.g. https://www.weibo.com/user_id/profile?...
  zhihu     : # "user_name" the last part of your profile url, e.g. https://www.zhihu.com/people/user_name
  linkedin  : 钟文鑫 # "user_name" the last part of your profile url, e.g. https://www.linkedin.com/in/user_name
  github    : wenxin195 # "user_name" the last part of your profile url, e.g. https://github.com/user_name
  bili      : 10738871
  red       : # "user_id" the last part of your profile url, e.g. https://www.xiaohongshu.com/user/profile/user_id
  csdn      : weixin_46784010


## => GitHub Repository (if the site is hosted by GitHub)
##############################
repository: wenxin195/wenxin195.github.io
repository_tree: main


## => Paths
##############################
paths:
  root    : # title link url, "/" (default)
  home    : # home layout url, "/" (default)
  archive : # "/archive.html" (default)
  rss     : # "/feed.xml" (default)


## => Post
##############################
## excerpt
excerpt_separator: <!--more-->
excerpt_type: html # text (default), html

## license
license: CC-BY-NC-SA-4.0 # "CC-BY-4.0", "CC-BY-SA-4.0", "CC-BY-NC-4.0", "CC-BY-ND-4.0", "CC-BY-NC-SA-4.0", "CC-BY-NC-ND-4.0"

## TOC
toc:
  selectors: h1,h2,h3 # "h1,h2,h3" (default)


## => Markdown Enhancements
##############################
## Mathjax
mathjax: false # false (default), true
mathjax_autoNumber: true # false (default), true

## Mermaid
mermaid: false # false (default), true

## Chart
chart: false # false (default), true


## => Paginate
##############################
paginate: 8
paginate_path: /page:num # don't change this unless for special need
LSI: true
Feature: true


## => Sources
##############################
sources: jsdelivr


## => Sharing
##############################
sharing:
  provider: false # false (default), "addtoany", "addthis", "custom"

  ## AddThis
  addthis:
    id: # AddThis pubid, e.g. ra-5xxxxxxxxxxx


## => Comments
##############################
comments:
  provider: false # false (default), "disqus", "gitalk", "valine", "custom"

  ## Disqus
  disqus:
    shortname: # the Disqus shortname for the site

  ## Gitalk
  # please refer to https://github.com/gitalk/gitalk for more info.
  gitalk:
    enable      : true
    GithubID    : wenxin195
    clientID    : Ov23liGKqh8k0MetdOhc # GitHub Application Client ID
    clientSecret: 6ec989f57a52648ec960f2cab82e2b2c0f4f8e6c # GitHub Application Client Secret
    repository  : blog-comments # GitHub repo
    owner       : wenxin195 # GitHub repo owner
    admin       : # GitHub repo owner and collaborators, only these guys can initialize GitHub issues, IT IS A LIST.
      # - your GitHub Id
      - wenxin195

  ## Valine
  # please refer to https://valine.js.org/en/ for more info.
  valine:
    app_id      : # LeanCloud App id
    app_key     : # LeanCloud App key
    placeholder : # Prompt information
    visitor     : # false (default)
    meta        : # "[nick, mail, link]" (default) nickname, E-mail, Personal-site


## => Pageview
##############################
pageview:
  provider: false # false (default), "leancloud", "custom"

  ## Leancloud
  leancloud:
    app_id    : # LeanCloud App id
    app_key   : # LeanCloud App key
    app_class : # LeanCloud App class


## => Search
##############################
search:
  provider: default # "default" (default), false, "google", "custom"

  ## Google Custom Search Engine
  google:
    custom_search_engine_id: # Google Custom Search Engine ID


## => Analytics
##############################
analytics:
  provider: false # false (default), "google", "custom"

  ## Google Analytics
  google:
    tracking_id : G-8KCLGX7719 # Google Analytics id for the site
    anonymize_ip: false # Anonymize IP tracking for Analytics

  baidu:
    base_id: 883a4ce3e6ad9013680a082966735ed7


## => Build
##############################
markdown: kramdown
kramdown:
  input: GFM
  math_engine: mathjax
  footnote_backlink: "&#8617;&#xfe0e;"
  syntax_highlighter: rouge
  syntax_highlighter_opts: # Rouge Options › https://github.com/jneen/rouge#full-options
    css_class: highlight
    span:
      line_numbers: false
    block:
      line_numbers: true
      start_line: 1

highlighter : rouge
permalink   : date

exclude:
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README.md
  - .sass-cache/
  - .jekyll-cache/
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/


defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: article
      sharing: false
      license: true
      aside:
        toc: true
      show_edit_on_github: false
      show_subscribe: false
      pageview: false

## => CSS style configuration
##############################
sass:
  style: compressed
  sass_dir: _sass


## => Plugins
##############################
plugins:
  - jekyll-paginate
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-include-cache
