@use "style";

.article__content {
  img.shadow,
  .shadow > img {
    box-shadow:
      0 4px 8px rgb(0 0 0 / 0.23),
      0 1px 3px rgb(0 0 0 / 0.08),
      0 6px 12px rgb(0 0 0 / 0.02);
  }

  img.border,
  .border > img {
    @include style.border-style(style.$border-color);
  }

  img.rounded,
  .rounded > img {
    border-radius: style.$border-radius;
  }

  img.circle,
  .circle > img {
    border-radius: 50%;
  }
}
