@use "sass:color";

$status-colors: (
  "success": #52c41a,
  "info": #1890ff,
  "warning": #fa8c16,
  "danger": #f5222d,
);

$border-color: color.mix(#000, #fff, 10%);
$border-radius: 0.4rem;

@mixin border-style($color) {
  border: 1px solid $color;
}

@mixin alert($type, $color) {
  p.#{$type} {
    padding: 0.5rem 1rem;
    background-color: rgba($color, 0.1); // 10% 透明度
    border-radius: $border-radius;

    @include border-style($color);
  }
}

@mixin tag($type, $color) {
  code.#{$type} {
    color: #fff;
    background-color: $color;
    padding: 0.2rem 0.5rem; // 添加内边距以提高视觉效果
    border-radius: $border-radius;
  }
}
