@use "sass:map";
@use "sass:color";

$addtional-styles: (
  "success": #52c41a,
  "info": #1890ff,
  "warning": #fa8c16,
  "danger": #f5222d,
);

$border-color: color.mix(#000, #fff, 10%);

@mixin arlert($type, $color) {
  p.#{$type} {
    padding: 0.5rem 1rem;
    background-color: rgba($color, 0.1); // 10% 透明度
    border: 1px solid $color;
    border-radius: 0.4rem;
  }
}

@mixin tag($type, $color) {
  code.#{$type} {
    color: #fff;
    background-color: $color;
  }
}
