{%- assign _author = include.author -%}
{%- assign _locale_string_follow = _t.FOLLOW_ME -%}

<div class="author-links">
  <ul class="menu menu--nowrap menu--inline">

    {%- if _author.url -%}
      <link itemprop="url" href="{{ _author.url }}">
    {%- endif -%}

    {%- if _author.email -%}
      <li title="{{ _t.EMAIL_ME }}">
        <a class="button button--circle brand-button brand-button--mail" itemprop="email" href="mailto:{{ _author.email }}">
          <i class="fas fa-envelope"></i>
        </a>
      </li>
    {%- endif -%}

    {%- if _author.facebook -%}
      <li title="{{ _locale_string_follow | replace: '[NAME]', 'Facebook' }}">
        <a class="button button--circle brand-button brand-button--facebook" itemprop="sameAs" href="https://www.facebook.com/profile.php?id={{ _author.facebook }}">
          <span class="icon" style="--icon: url('{{ '/assets/images/icon/social/facebook.svg' | relative_url }}')" aria-hidden="true"></span>
        </a>
      </li>
    {%- endif -%}

    {%- if _author.weibo -%}
      <li title="{{ _locale_string_follow | replace: '[NAME]', 'Weibo' }}">
        <a class="button button--circle brand-button brand-button--weibo" itemprop="sameAs" href="https://weibo.com/{{ _author.weibo }}">
          <span class="icon" style="--icon: url('{{ '/assets/images/icon/social/weibo.svg' | relative_url }}')" aria-hidden="true"></span>
        </a>
      </li>
    {%- endif -%}

    {%- if _author.zhihu -%}
      <li title="{{ _locale_string_follow | replace: '[NAME]', '知乎' }}">
        <a class="button button--circle brand-button brand-button--zhihu" itemprop="sameAs" href="https://www.zhihu.com/people/{{ _author.zhihu }}">
          <span class="icon" style="--icon: url('{{ '/assets/images/icon/social/zhihu.svg' | relative_url }}')" aria-hidden="true"></span>
        </a>
      </li>
    {%- endif -%}

    {%- if _author.linkedin -%}
      <li title="{{ _locale_string_follow | replace: '[NAME]', 'Linkedin' }}">
        <a class="button button--circle brand-button brand-button--linkedin" itemprop="sameAs" href="https://www.linkedin.com/in/{{ _author.linkedin }}">
          <span class="icon" style="--icon: url('{{ '/assets/images/icon/social/linkedin.svg' | relative_url }}')" aria-hidden="true"></span>
        </a>
      </li>
    {%- endif -%}

    {%- if _author.github -%}
      <li title="{{ _locale_string_follow | replace: '[NAME]', 'GitHub' }}">
        <a class="button button--circle brand-button brand-button--github" itemprop="sameAs" href="https://github.com/{{ _author.github }}">
          <span class="icon" style="--icon: url('{{ '/assets/images/icon/social/github.svg' | relative_url }}')" aria-hidden="true"></span>
        </a>
      </li>
    {%- endif -%}

    {%- if _author.bili -%}
      <li title="{{ _locale_string_follow | replace: '[NAME]', 'bilibili' }}">
        <a class="button button--circle brand-button brand-button--bili" itemprop="sameAs" href="https://space.bilibili.com/{{ _author.bili }}">
          <span class="icon" style="--icon: url('{{ '/assets/images/icon/social/bili.svg' | relative_url }}')" aria-hidden="true"></span>
        </a>
      </li>
    {%- endif -%}

    {%- if _author.red -%}
      <li title="{{ _locale_string_follow | replace: '[NAME]', '小红书' }}">
        <a class="button button--circle brand-button brand-button--red" itemprop="sameAs" href="https://www.xiaohongshu.com/user/profile/{{ _author.red }}">
          <span class="icon" style="--icon: url('{{ '/assets/images/icon/social/red.svg' | relative_url }}')" aria-hidden="true"></span>
        </a>
      </li>
    {%- endif -%}

    {%- if _author.csdn -%}
      <li title="{{ _locale_string_follow | replace: '[NAME]', 'CSDN' }}">
        <a class="button button--circle brand-button brand-button--csdn" itemprop="sameAs" href="https://blog.csdn.net/{{ _author.csdn }}">
          <span class="icon" style="--icon: url('{{ '/assets/images/icon/social/csdn.svg' | relative_url }}')" aria-hidden="true"></span>
        </a>
      </li>
    {%- endif -%}
  </ul>
</div>
