<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

{% comment %} 基于 _config.yml 生成 SEO {% endcomment %}
{% seo %}

<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.baseurl }}/feed.xml" />

{%- include head/favicon.html -%}

{% comment %} 重新写 {% endcomment %}
{%- include snippets/prepend-baseurl.html path='/assets/css/main.css' -%}
<link rel="stylesheet" href="{{ __return }}" />

{% comment %} 需要重新评估载入量 {% endcomment %}
{%- include snippets/get-sources.html -%}
<link rel="stylesheet" href="{{ __return.font_awesome }}" />

{%- include head/custom.html -%}
