<!-- Calculate the post's reading time, and display the word count in tooltip -->

<!-- strip_html是删除所有html标签的函数 -->
{% assign words = include.content | strip_html | strip_newlines | split: "" | size %}

{%- include snippets/get-locale-string.html key='PROMPT' -%}
{%- assign _prompt = __return -%}

{%- include snippets/get-locale-string.html key='UNIT' -%}
{%- assign _unit = __return -%}

{%- include snippets/get-locale-string.html key='WORDS' -%}
{%- assign _words = __return -%}

<!-- words per minute -->
{%- assign wpm = 500 -%}
{%- assign min_time = 1 -%}

{%- assign read_time = words | divided_by: wpm -%}

<!-- 等价于 if read_time <= 0 -->
{%- unless read_time > 0 -%}
  {%- assign read_time = min_time -%}
{%- endunless -%}

{%- capture read_prompt -%}
  {%- include snippets/get-locale-string.html key='PROMPT' -%}
{%- endcapture -%}

{%- if include.layout == "article" -%}
  {%- if include.show_label -%}
    <!-- return element -->
    <span class="readtime" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ words }} {{ _words  }}">
      {{ _prompt }}<em>{{- read_time -}}</em>{{ _unit }}
      
      {%- if include.prompt -%}
        {% assign _prompt_words = read_prompt | strip_newlines | split: "" | size %}
        {%- unless _prompt_words > 1 -%}{{ ' ' }}{%- endunless -%}
        {{ read_prompt }}
      {%- endif -%}
  </span>
  {%- endif -%}
{%- endif -%}
