// 脉冲动画效果
@keyframes pulse {
  0% {
    transform: scale(1.1) rotate(5deg);
  }
  50% {
    transform: scale(1.15) rotate(10deg);
  }
  100% {
    transform: scale(1.1) rotate(5deg);
  }
}

@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

// 二维码容器样式
.appreciate-container {
  display: flex;
  flex-wrap: wrap; // 允许换行
  justify-content: space-between; // 保证二维码在行内分配空间
  gap: 20px; // 让二维码之间有间隙

  position: relative;
  background-size: 400% 400%; // 背景扩展
  animation: gradientBackground 5s ease infinite; // 动态渐变背景

  > a {
    display: inline-block;
    position: relative;
    width: 48%; // flex的配置

    > img {
      width: 40px;
      height: 40px; // 设置图标大小
      transition: transform 0.4s ease, filter 0.4s ease, box-shadow 0.4s ease; // 动画过渡
      border-radius: 50%; // 圆形图标
    }

    &:hover > img {
      transform: scale(1.1) rotate(5deg); // 放大并微旋转
      animation: pulse 1s ease-out infinite; // 动态脉冲效果
    }
  }
}

.appreciate-qrcode {
  display: none;
  position: absolute;
  top: 50px;
  right: 68px;
  padding: 10px;
  border: 1px solid #ddd;
  background: #fff;
  z-index: 100;
  text-align: center;

  > p {
    text-align: right;
    margin: -3px;
  }

  .appreciate-container:hover & {
    display: block;
  }

  // 二维码样式
  div {
    display: flex;
    justify-content: space-between;

    figure {
      margin: 0; // 移除figure的默认间距

      > img {
        height: 150px;
        width: auto;
      }
    }
  }
}
