.post-options {
  margin-top: 10px;
  display: flex; /* 保证原本的布局风格 */
  align-items: flex-start;
  justify-content: space-between; /* 保持绝对距离 */

  .share-section,
  .appreciate-container,
  .multimedia {
    flex-grow: 2; /* 确保每个元素均匀分布 */
  }
}
