/* html 文件位于 */
/* js 文件位于 _include/scripts/clipboard.js */
/* 被引用在 _layout/article.html */

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes backgroundFadeOut {
  from {
    background-color: #4caf50;
  }
  to {
    background-color: transparent;
  }
}

.copy-success {
  background-color: #4caf50;
  transition: background-color 1s ease-out;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    animation: fadeOut 1s forwards;
  }

  animation: backgroundFadeOut 2s forwards;
}

.code-header {
  button {
    transition: background-color 0.3s ease;
    position: relative;
  }
}
