/* html 文件在 donate.md */

.payment-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  .payment-item {
    text-align: center;
    margin-right: 10px;

    img {
      height: 150px;
      width: auto;
    }
  }
}
