// post 的“分享到”功能
// html 文件位于 _include/article/top/custom.thml
// js 文件位于 _include/scripts/wechat-share.js

.share-section {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.share-buttons {
  display: flex;
  gap: 5px;
  align-items: center;

  a {
    display: inline-block;
    width: auto;
    height: auto;

    img {
      width: 32px;
      height: 32px;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

/* 微信二维码 */
.share-wechat-container {
  position: relative; // 使二维码的定位基于此容器

  .share-wechat {
    display: inline-block;
    position: relative;
  }

  &:hover .wechat-qrcode {
    display: block;
  }
}

.wechat-qrcode {
  display: none; // 默认隐藏二维码
  position: absolute; // 绝对定位
  top: 50px; // 控制二维码相对于图标的垂直位置
  right: -70px; // 控制二维码相对于图标的水平位置
  padding: 10px;
  border: 1px solid #ddd;
  background: #fff;
  z-index: 100; // 确保二维码位于图标上方
}
