.copy-tooltip {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
    /* 防止遮挡点击 */
    white-space: nowrap;
}

.copy-tooltip.show {
    opacity: 1;
    transform: translateY(0);
}