#scroll-to-top {
  position: fixed;
  z-index: 1;
  bottom: 4.625rem;
  right: 1rem;
  display: none;
  width: 2.75rem;
  height: 2.75rem;
  background-color: #f0f0f0;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 24px;
  color: #686868;
  box-shadow: 0 4px 8px #00000033;
  cursor: pointer;
  padding: 0;
  border: 1px solid #f1f1f1;
  transition: opacity 0.5s ease-in-out, transform 0.2s ease-out;

  &:hover {
    transform: translate3d(0, -5px, 0);
    -webkit-transform: translate3d(0, -5px, 0);
    background-color: #ddd;
  }

  i {
    line-height: 2.75rem;
    position: relative;
    bottom: 2px;
  }

  &.show {
    opacity: 1;
    visibility: visible;
  }
}
