.share-section {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.share-label {
    font-size: 16px;
    margin-right: 10px;
    color: #333;
}

.share-buttons {
    display: flex;
    gap: 15px; /* 调整按钮之间的间距 */
    align-items: center;
    position: relative; /* 使二维码相对于按钮容器进行绝对定位 */
}

.share-buttons a {
    display: inline-block;
    width: auto;
    height: auto;
}

.share-section .share-buttons img {
    width: 32px !important;
    height: 32px !important;
}

.wechat-qrcode {
    position: absolute;
    margin-top: 5px;
    padding: 5px;
    border: 1px solid #ddd;
    background: #fff;
}


/* 隐藏二维码时，确保提示文字正常显示 */
.share-wechat:hover + .wechat-qrcode {
    display: block;
}
