$prompt-colors: (
  tip-bg: rgba(123, 247, 144, 0.2),
  tip-color: #03b303,
  info-bg: #e1f5fe,
  info-color: #0070cb,
  warning-bg: rgb(255, 243, 205),
  warning-color: #ef9c03,
  danger-bg: rgba(248, 215, 218, 0.56),
  danger-color: #df3c30,
)
