@use "module";

// 不可展开的提示框
@each $type, $icon-content in module.$addon-types {
  @include module.box($type, $icon-content);
}

// prompt类
blockquote {
  P {
    &:first-child {
      margin-top: 0 !important;
    }

    &:last-child {
      margin-bottom: 0 !important;
    }
  }

  @each $type, $icon-content in module.$addon-types {
    @include module.prompt($type, $icon-content);
  }
}

// 定理类
details {
  p:last-child {
    margin-bottom: 0 !important;
  }

  @each $class, $type in module.$math-types {
    @include module.details($class, $type);
  }

  &[open] {
    > summary {
      margin-bottom: 0.6rem;
      transition: margin 200ms ease-out;

      &::after {
        transform: rotate(90deg);
      }
    }
  }
}

// 表格样式
.table-wrapper {
  overflow-x: auto; // 添加水平滚动条
  margin-bottom: 1.5rem;

  > table {
    min-width: 100%;
    border-spacing: 0;

    thead {
      text-align: center;
      border-bottom: 2px solid module.$thead-color;

      > th {
        @extend %table-cell;
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid module.$thead-color;

        > th {
          text-align: center;
        }
      }

      td {
        @extend %table-cell;
      }
    }
  }
}
