@use "sass:map";
@use "colors";
@forward "colors";

%code-snippet-padding {
  padding: {
    left: 1rem;
    right: 1.5rem;
  }
}

%text-highlight {
  color: inherit;
  font-weight: 600;
}

%table-cell {
  padding: 0.4rem 1rem;
  font-size: 95%;
  white-space: nowrap;
}

@mixin text-color($type) {
  color: map.get(colors.$prompt-colors, #{$type}-color);
}

@mixin background-color($type) {
  background-color: map.get(colors.$prompt-colors, #{$type}-bg);
}

@mixin box-base-style($type) {
  box-shadow: 1px 1px 2px 1px #ececec;
  padding: 0.6rem 1rem 0.6rem 1.5rem;
  margin-bottom: 1rem;
  border: {
    left: 0.2rem solid map.get(colors.$prompt-colors, #{$type}-color);
    radius: 0.25rem;
  }
}

@mixin box-title-style(
  $type,
  $padding: 0.5rem 1rem,
  $margin: -0.6rem -1rem 0.6rem -1.5rem
) {
  font-weight: 600;
  padding: $padding;
  margin: $margin;

  @include text-color($type);
  @include background-color($type);
}

@mixin ml-mr($value) {
  margin: {
    left: $value;
    right: $value;
  }
}

@mixin icon-font-adjustments($type) {
  @if $type == "tip" {
    font: var(--fa-font-regular) {
      size: 1.5rem;
    }
  } @else {
    font: var(--fa-font-solid) {
      size: 1.5rem;
    }
  }

  @if $type == "info" {
    transform: rotate(180deg);
  }
}

@mixin icon-base-style($content, $top-offset: 0, $left-offset: 0.25rem) {
  position: absolute;
  width: 3rem;
  text-align: center;
  content: $content;
  left: $left-offset;
  margin-top: $top-offset;
}

@mixin prompt($type, $fa-content) {
  &.prompt-#{$type} {
    position: relative;
    font-size: 1rem;
    line-height: 1.4rem; // 设置与图标相近的行高
    padding: 1rem 1rem 1rem 3rem;
    color: rgba(46, 46, 46, 0.77);
    border: {
      left: 0.125rem solid #eeeeee;
      radius: 10px;
    }

    @include background-color($type);

    &::before {
      @include icon-base-style($fa-content, -0.1rem);
      @include text-color($type);
      @include icon-font-adjustments($type);
    }
  }
}

@mixin details($class, $type) {
  &.details-#{$class} {
    @include box-base-style($type);

    > summary {
      position: relative;
      list-style: none; // 隐藏默认的箭头
      transition: background-color 0.3s ease; // 添加颜色过渡效果

      @include box-title-style(
        $type,
        $padding: 0.5rem 1rem,
        $margin: -0.6rem -1rem -0.6rem -1.5rem
      );

      &::after {
        position: absolute;
        right: 1rem; // 调整箭头在最右边的位置
        font-family: "Font Awesome 6 Free";
        content: "\f105"; // Unicode for fa-angle-down
        transition: transform 0.2s ease; // 添加旋转动画
      }
    }
  }
}

@mixin box($type, $icon-content) {
  .box-#{$type} {
    position: relative;

    @include box-base-style($type);

    .title {
      @include box-title-style(
        $type,
        $padding: 0.5rem 0.6rem 0.5rem 3rem,
        $margin: -0.6rem -1rem 0.6rem -1.5rem
      );

      &:empty {
        display: none;
        margin: 0;
        padding: 0;
      }

      &::before {
        @include icon-base-style($icon-content, 0.1rem, 0.2rem);
        @include text-color($type);
        @include icon-font-adjustments($type);
      }
    }

    p:last-child {
      margin-bottom: 0 !important;
    }
  }
}
