@mixin light-syntax {
  .highlight {
    table {
      td {
        padding: 5px;
      }
      pre {
        margin: 0;
      }
    }

    &,
    .w {
      color: #24292f;
      background-color: #f6f8fa;
    }

    // 红色系列
    .k,
    .kd,
    .kn,
    .kp,
    .kr,
    .kt,
    .kv {
      color: #cf222e;
    }
    .gr {
      color: #f6f8fa;
    }
    .gd {
      color: #82071e;
      background-color: #ffebe9;
    }

    // 橙色系列
    .nb,
    .nc,
    .no,
    .nn {
      color: #953800;
    }

    // 绿色系列
    .sr,
    .na,
    .nt {
      color: #116329;
    }
    .gi {
      color: #116329;
      background-color: #dafbe1;
    }

    // 蓝色系列
    .kc,
    .l,
    .ld,
    .m,
    .mb,
    .mf,
    .mh,
    .mi,
    .il,
    .mo,
    .mx,
    .sb,
    .bp,
    .ne,
    .nl,
    .py,
    .nv,
    .vc,
    .vg,
    .vi,
    .vm,
    .o,
    .ow {
      color: #0550ae;
    }

    .gh,
    .gu {
      color: #0550ae;
      font-weight: bold;
    }

    // 深蓝色系列
    .s,
    .sa,
    .sc,
    .dl,
    .sd,
    .s2,
    .se,
    .sh,
    .sx,
    .s1,
    .ss {
      color: #0a3069;
    }

    // 紫色系列
    .nd,
    .nf,
    .fm {
      color: #8250df;
    }

    // 错误样式
    .err {
      color: #f6f8fa;
      background-color: #82071e;
    }

    // 灰色系列
    .c,
    .ch,
    .cd,
    .cm,
    .cp,
    .cpf,
    .c1,
    .cs,
    .gl,
    .gt {
      color: #68717a;
    }

    // 默认色系列
    .ni,
    .si {
      color: #24292f;
    }

    .ge {
      color: #24292f;
      font-style: italic;
    }

    .gs {
      color: #24292f;
      font-weight: bold;
    }
  }
}
