@use "syntax-light" as light;
@use "module";

@include light.light-syntax;

// 代码块标识头
.code-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: module.$header-height;
  margin: {
    left: 0.75rem;
    right: 0.25rem;
  }

  // the label block
  span {
    line-height: module.$header-height;

    // label icon
    i {
      font-size: 1rem;
      width: 1.75;
      color: module.$light-text-color;

      &.small {
        font-size: 70%;
      }
    }

    // label text
    &::after {
      content: attr(data-label-text);
      font: {
        size: module.$code-font-size;
        weight: 600;
      }
      color: module.$label-text-color;
      margin-left: 0.3rem;
    }
  }

  [file] & > i {
    position: relative;
    top: 1px;
  }

  // clipboard
  button {
    border: 1px solid transparent {
      radius: module.$border-radius;
    }
    height: module.$header-height;
    width: module.$header-height;
    padding: 0;
    background-color: inherit;
    cursor: pointer;

    i {
      color: module.$light-text-color;
    }

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: rgba(128, 128, 128, 0.37);

      i {
        color: white;
      }
    }
  }
}

// 代码块高亮部分
.highlight {
  background-color: module.$code-bg-color;
  overflow-x: auto;
  margin-top: -10px;
  border-radius: module.$border-radius;

  figure#{&} {
    background-color: module.$code-bg-color;
  }

  table {
    td {
      &:first-child {
        display: inline-block;
        margin: {
          left: 1rem;
          right: 0.75rem;
        }
      }

      &:last-child {
        padding-right: 2rem !important;
      }

      pre {
        margin-bottom: 0;
        font-size: module.$code-font-size;
        line-height: 1.4rem;
        word-wrap: normal;
      }

      &.rouge-code {
        @extend %code-snippet-padding;

        a {
          color: inherit !important;
          border-bottom: none !important;
          pointer-events: none;
        }
      }
    }
  }

  .lineno {
    text-align: right;
    color: module.$lineno-color;
  }
}

// 行内代码高亮部分
code {
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  color: module.$dark-text-color;

  &.highlighter-rouge {
    font-size: module.$code-font-size;
    padding: 3px 5px;
    word-break: break-word;
    border-radius: 6px;
    background-color: module.$inline-code-bg;
    color: module.$inline-code-color;
  }

  &.filepath {
    background-color: inherit;
    color: module.$filepath-color;
    font-weight: 600;
    padding: 0;
  }

  a > &.highlighter-rouge {
    padding-bottom: 0; // show link's underline
    color: inherit;
  }

  a:hover > &.highlighter-rouge {
    border-bottom: none;
  }

  blockquote & {
    color: inherit;
  }
}

// Hide line numbers for default, console, and terminal code snippets
div {
  &.nolineno,
  &.language-plaintext,
  &.language-console,
  &.language-terminal {
    td:first-child {
      padding: 0 !important;
      margin-right: 0;

      .lineno {
        display: none;
      }
    }
  }

  &[class^="language-"] {
    background-color: module.$code-bg-color;
    box-shadow: module.$border-color 0 0 0 1px;
    border-radius: module.$border-radius;

    .content > & {
      border-radius: 0;

      @include module.ml-mr(-1rem);
    }

    .highlight {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

@media all {
  div[class^="language-"] {
    .content > & {
      border-radius: module.$border-radius;

      @include module.ml-mr(0);
    }

    .code-header {
      @include module.ml-mr(0);

      &::before {
        content: "";
        display: inline-block;
        margin-left: module.$dot-margin;
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 50%;
        background-color: module.$dot-color;
        box-shadow: (0.75rem + 0.5rem) 0 0 module.$dot-color,
          (0.75rem + 0.5rem) * 2 0 0 module.$dot-color;
      }

      span {
        // center the text of label
        margin-left: calc((#{module.$dot-margin} + 0.75rem) / 2 * -1);
      }
    }
  }
}
