@use "module";
@use "sass:map";
@use "sass:math";
@use "syntax-light" as light;

@include light.light-syntax;

.code-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: module.$header-height;
  margin-left: 0.75rem;
  margin-right: 0.25rem;

  span {
    line-height: module.$header-height;
    
    i {
      font-size: 1rem;
      color: map.get(module.$block-code-colors, gray-color);
      
      &.small {
        font-size: 70%;
      }
    }

    &::after {
      content: attr(data-label-text);
      font-size: module.$code-font-size;
      font-weight: 600;
      color: map.get(module.$block-code-colors, gray-color);
      margin-left: 0.3rem;
    }
  }

  [file] & > i {
    position: relative;
    top: 1px;
  }

  button {
    border: 1px solid transparent;
    border-radius: module.$border-radius;
    height: module.$header-height;
    width: module.$header-height;
    padding: 0;
    background-color: inherit;
    cursor: pointer;

    i {
      color: map.get(module.$block-code-colors, gray-color);
    }

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: rgba(128, 128, 128, 0.37);

      i {
        color: white;
      }
    }

    @media print{
      visibility: hidden;
    }
  }
}

.highlight {
  background-color: map.get(module.$block-code-colors, bg-color);
  overflow-x: auto;
  margin-top: -10px;
  border-radius: module.$border-radius;

  figure#{&} {
    background-color: inherit;
  }

  table {
    td {
      &:first-child {
        display: inline-block;
        margin: {
          left: 1rem;
          right: 0.75rem;
        }
      }

      &:last-child {
        padding-right: 2rem !important;
      }

      pre {
        margin-bottom: 0;
        font-size: module.$code-font-size;
        line-height: 1.4rem;
        word-wrap: normal;
      }

      &.rouge-code {
        @include module.code-snippet-padding;

        a {
          color: inherit !important;
          border-bottom: none !important;
          pointer-events: none;
        }
      }
    }
  }

  .lineno {
    text-align: right;
    color: map.get(module.$block-code-colors, gray-color);
  }
}

code {
  hyphens: none;
  color: module.$dark-text-color;

  &.highlighter-rouge {
    font-size: module.$code-font-size;
    padding: 3px 5px;
    word-break: break-word;
    border-radius: 6px;
    background-color: map.get(module.$inline-code-colors, code-bg);
    color: map.get(module.$inline-code-colors, code-color);
  }
  
  &.filepath {
    background-color: inherit;
    color: map.get(module.$block-code-colors, filepath-color);
    font-weight: 600;
    padding: 0;
  }

  a > &.highlighter-rouge {
    padding-bottom: 0;
    color: inherit;
  }

  a:hover > &.highlighter-rouge {
    border-bottom: none;
  }

  blockquote & {
    color: inherit;
  }
}

div {
  &.nolineno,
  &.language-plaintext,
  &.language-console,
  &.language-terminal {
    td:first-child {
      padding: 0 !important;
      margin-right: 0;

      .lineno {
        display: none;
      }
    }
  }

  &[class^="language-"] {
    background-color: map.get(module.$block-code-colors, bg-color);
    box-shadow: map.get(module.$table-color, border-color) 0 0 0 1px;
    border-radius: module.$border-radius;

    .content > & {
      border-radius: module.$border-radius;
      @include module.horizontal-margin(0);
    }

    .highlight {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    .code-header {
      @include module.horizontal-margin(0);

      &::before {
        content: "";
        display: inline-block;
        margin-left: module.$dot-margin;
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 50%;
        background-color: map.get(module.$block-code-colors, dot-color);
        box-shadow: (0.75rem + 0.5rem) 0 0 map.get(module.$block-code-colors, dot-color),
          (0.75rem + 0.5rem) * 2 0 0 map.get(module.$block-code-colors, dot-color);
      }

      span {
        margin-left: math.div((module.$dot-margin + 0.75rem), 2) * -1;
      }
    }
  }
}
