@import "module";

blockquote {
    border-left: 0.125rem solid var(--blockquote-border-color);
    padding-left: 1rem;
    color: var(--blockquote-text-color);
    margin-top: 0.5rem;

    >p:last-child {
        margin-bottom: 0;
    }

    &[class^='prompt-'] {
        border-left: 0;
        position: relative;
        padding: 1rem 1rem 1rem 3rem;
        color: var(--prompt-text-color);

        @extend %rounded;

        &::before {
            text-align: center;
            width: 3rem;
            position: absolute;
            left: 0.25rem;
            margin-top: 0.4rem;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
        }
    }

    @include prompt('tip', '\f0eb', $fa-style: 'regular');
    @include prompt('info', '\f06a', $rotate: 180);
    @include prompt('warning', '\f06a');
    @include prompt('danger', '\f071');
}

@media all and (max-width: 576px) {
    main {
        .content {
            >blockquote[class^='prompt-'] {
                @include ml-mr(-1rem);

                border-radius: 0;
                max-width: none;
            }
        }
    }

    #avatar {
        width: 5rem;
        height: 5rem;
    }
}