@import "module";

html {
  &:not([data-mode]),
  &[data-mode="light"] {
    @include light-scheme;
  }
}

blockquote {
  border-left: 0.125rem solid var(--blockquote-border-color);
  padding-left: 1rem;
  color: var(--blockquote-text-color);
  margin-top: 0.5rem;

  > p:last-child {
    margin-top: 0;
  }

  &[class^="prompt-"] {
    font-size: 1rem;
    line-height: 1.4rem; // 设置与图标相近的行高
    border-left: 0;
    position: relative;
    padding: 1rem 1rem 1rem 3rem;
    color: var(--prompt-text-color);

    @extend %rounded;

    &::before {
      text-align: center;
      width: 3rem;
      position: absolute;
      left: 0.25rem;
      margin-top: 0.4rem;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
    }
  }

  @include prompt("tip", "\f0eb", $fa-style: "regular");
  @include prompt("info", "\f06a", $rotate: 180);
  @include prompt("warning", "\f06a");
  @include prompt("danger", "\f071");
}

.box-info {
  @include colorbox(
    var(--prompt-info-icon-color),
    var(--prompt-info-icon-color),
    "\f06a",
    var(--prompt-info-bg)
  );
}

.box-tip {
  @include colorbox(
    var(--prompt-tip-icon-color),
    var(--prompt-tip-icon-color),
    "\f0eb",
    var(--prompt-tip-bg),
    "regular"
  );
}

.box-warning {
  @include colorbox(
    var(--prompt-warning-icon-color),
    var(--prompt-warning-icon-color),
    "\f06a",
    var(--prompt-warning-bg)
  );
}

.box-danger {
  @include colorbox(
    var(--prompt-danger-icon-color),
    var(--prompt-danger-icon-color),
    "\f071",
    var(--prompt-danger-bg)
  );
}

details {
  border-radius: 0.25rem;
  box-shadow: var(--language-border-color) 1px 1px 2px 1px; //借用了代码框的边框颜色变量
  font-family: (
    "Times New Roman",
    "SimSun",
    "Segoe UI",
    Helvetica,
    Arial,
    sans-serif
  );
  margin-bottom: 1rem;
  padding: 0.6rem 1rem 0.6rem 1.5rem;

  > p:last-child {
    margin-bottom: 0;
  }

  > summary {
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin: -0.6rem -1rem -0.6rem -1.5rem;
    font-weight: 600;
    position: relative;
    list-style: none; //隐藏默认的箭头
    transition: background-color 0.3s ease; //添加颜色过渡效果
    text-decoration: none; //去除下划线

    &::before {
      margin-right: 0.5rem;
      display: inline-block;
    }

    &::after {
      font-family: "Font Awesome 6 Free";
      content: "\f105"; //Unicode for fa-angle-down
      display: inline-block;
      transition: transform 0.2s ease; //添加旋转动画
      position: absolute;
      right: 1rem; //调整箭头在最右边的位置
    }
  }

  &[open] {
    > summary {
      // transition: margin 200ms ease-out;
      margin-bottom: 0.6rem; // 展开会有动画效果
    }

    > summary::before {
      margin-right: 0.5rem;
    }

    > summary::after {
      transform: rotate(90deg);
    }
  }

  @include details("definition", "tip");
  @include details("theorem", "warning");
  @include details("proposition", "info");
  @include details("example", "danger");
}

.table-wrapper {
  overflow-x: auto;
  margin-bottom: 1.5rem;

  > table {
    min-width: 100%;
    overflow-x: auto;
    border-spacing: 0;

    thead {
      border-bottom: solid 2px rgba(210, 215, 217, 0.75);
      text-align: center;

      th {
        @extend %table-cell;
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid var(--tb-border-color);

        td {
          @extend %table-cell;
        }
      }
    }
  }
}
