@import "colors";

@mixin prompt($type, $fa-content, $fa-style: 'solid', $rotate: 0) {
    &.prompt-#{$type} {
        background-color: var(--prompt-#{$type}-bg);

        &::before {
            content: $fa-content;
            color: var(--prompt-#{$type}-icon-color);
            font: var(--fa-font-#{$fa-style});

            @if $rotate !=0 {
                transform: rotate(#{$rotate}deg);
            }
        }
    }
}

@mixin ml-mr($value) {
    margin-left: $value;
    margin-right: $value;
}

%rounded {
    border-radius: 10px;
}