---
layout: shell
---
{%- include utils/locale.html -%}
{%- assign _lang_posts = site.posts | where: 'lang', page.lang -%}
<div class="layout-archive">

  <div class="layout-archive__inner">
    {%- include archive/filters.html -%}

    <div class="archive-result js-archive-result">
      {%- if _lang_posts.size == 0 -%}
        <p class="layout-archive__empty">{{- _t.NO_POSTS -}}</p>
      {%- else -%}
        {%- include list/article-list.html articles=_lang_posts type='brief' show_info=true group_by='year' -%}
      {%- endif -%}
    </div>
  </div>
</div>

{{ content }}
