---
layout: page
header: false
full_width: true
article_header:
  type: overlay
  align: center
  height: 80vh
---
<div class="layout--landing">
  <div class="heros">
  {%- for _section in page.data.sections -%}
    {%- include snippets/get-nav-url.html path=_section.background_image.src -%}
    {%- assign _url = __return -%}

    <section class="{% if _section.theme == 'light' %}hero hero--center hero--light{% elsif _section.theme == 'dark' %}hero hero--center hero--dark{% else %}hero hero--center{% endif %}" id="hero-{{ forloop.index }}" style="background-image: url({{ _url }});{% if _section.background_color %} background-color: {{ _section.background_color }};{% endif %}">
        <div class="hero__content">
          <div class="mb-5">
            <h3>{{ _section.title }}</h3>

            {% if _section.excerpt %}
              <p>{{ _section.excerpt }}</p>
            {% endif %}

            {% if _section.actions %}
              <ul class="menu">
              {% for _action in _section.actions %}
                {%- include snippets/get-nav-url.html path=_action.url -%}
                {%- assign _url = __return -%}
                <li><a class="button button--{{ _action.type | default: 'outline-info' }} button--pill button--lg" href="{{ _url }}">{{ _action.text }}</a></li>
              {% endfor %}
              </ul>
            {% endif %}
          </div>

          {% if _section.children %}
            <div class="grid--container">
              <div class="grid grid--p-3">
                {% for child in _section.children %}
                  <div class="cell cell--12 cell--md-{{ 12 | divided_by: [2, _section.children.size | default: 2] | last }} cell--lg-{{ 12 | divided_by: [4, _section.children.size | default: 4] | last }}">
                    <div class="mb-5">
                      <h4>{{ child.title }}</h4>

                      {% if child.excerpt %}
                        <p>{{ child.excerpt }}</p>
                      {% endif %}

                      {% if child.actions %}
                        <ul class="menu">
                          {% for _action in child.actions %}
                            {%- include snippets/get-nav-url.html path=_action.url -%}
                            {%- assign _url = __return -%}
                            <li><a class="button button--{{ _action.type | default: 'outline-info' }} button--pill button--lg" href="{{ _url }}">{{ _action.text }}</a></li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </div>

                    {% if child.image and child.image.src %}
                      <div class="{{ 'mb-5' if child.image.is_row }}">
                        {%- include snippets/get-nav-url.html path=child.image.src -%}
                        <div class="mx-auto" style="{{ child.image.style }}">
                          <a href="{{ __return | default: '#' }}">
                            <img src="{{ __return }}" alt="{{ child.title }}"/>
                          </a>
                        </div>
                      </div>
                    {% endif %}
                    
                    {% if child.content %}
                      <p>{{ child.content }}</p>
                    {% endif %}
                  </div>
                {% endfor %}
              </div>
            </div>
          {% endif %}
        </div>
    </section>
  {% endfor %}
  </div>
</div>

{{ content }}
