<div class="multimedia">
  {%- if page.download -%}
    <div class="pdf">
      <a href="https://www.alipan.com/s/ZsWqn6uAr91" title="Download PDF">
        <img src="/assets/images/icon/download.svg" alt="Download PDF" />
        <span>下载 PDF 版</span>
      </a>
    </div>
  {%- endif -%}

  {%- if page.videos -%}
    <div class="video">
      <a href="https://space.bilibili.com/10738871" title="Watch Video">
        <img src="/assets/images/icon/video.svg" alt="Watch Video" />
        <span>观看视频</span>
      </a>
    </div>
  {%- endif -%}
</div>
