@use "sass:map";

body,
html,
.root,
.layout--page {
  height: 100%;
}

.page__main {
  height: 100%;
  color: $text-color;

  .col-aside {
    display: none;

    & > aside {
      position: absolute;
      width: map.get($layout, aside-width);

      @include overflow(hidden);  // 侧边栏若溢出则隐藏
    }
  }
}

.page__main-inner {
  position: relative;
  min-height: 100%;
  background-color: $background-color;

  @include flexbox();
  @include flex-direction(column);
}

.page__content {
  width: 100%;
  margin: 0 auto;
  
  @include flex(1);

  @media print {
    padding-bottom: 0;
  }
}

.hide-footer {
  .page__content {
    padding-bottom: 0;
  }
}

.page__comments {
  margin: map.get($spacers, 4) 0;
}

.page__aside {
  .toc-aside {
    padding:
      map.get($spacers, 5) 0
      map.get($spacers, 3)
      map.get($spacers, 5);
  }
}

.has-aside {
  .col-aside {
    position: relative;
    display: block;
    width: map.get($layout, aside-width);

    & > aside {
      &.fixed {
        position: fixed;
      }
    }

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }
}

.hero--light {
  .article__info {
    color: $text-color-theme-light;
  }
}

.hero--dark {
  .article__info {
    color: $text-color-theme-dark;
  }
}

// 紧凑布局，当 page.mode = immersive 时生效
.page__main--immersive {
  .page__header {
    position: absolute;
    width: 100%;
  }

  .hero__content {
    padding-top: map.get($layout, header-height);
  }
}
